@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTMedium.otf) format('opentype');
		font-weight: 400;
	}
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTHeavy.otf) format('opentype');
		font-weight: 700;
	}
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTLight.otf) format('opentype');
		font-weight: 300;
	}
}
@layer utilities {
	.futura-pt {
		font-family: 'Futura PT', sans-serif;
	}
	.wrapper {
		@apply mx-auto w-full max-w-[1536px];
	}
	.hover-colors-300 {
		@apply transition-colors duration-300;
	}
	.medicine-underline {
		@apply after:absolute after:bottom-12 after:left-0 after:h-[1px] after:w-full after:origin-center after:scale-x-0 after:bg-black after:transition-all after:duration-300 after:content-[''] after:hover:scale-x-100;
	}
	.shadow {
		box-shadow: 1px 1px 6px rgb(104, 104, 104);
	}
	.product-shadow {
		box-shadow: 1px 1px 10px rgb(173, 173, 173);
	}
	.gradient {
		background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 58.84%, #696969 91.39%, #b1b1b1 116.12%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.custom-underline::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -24px;
		width: 100%;
		height: 1px;
		background-color: #1d1d1d;
		transition: all 0.3s;
		transform: scaleX(0);
		transform-origin: center;
	}
	.custom-underline-hover::after {
		transform: scaleX(1);
	}
	.active::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		height: 1px;
		background-color: #111111;
	}
	.hide {
		display: none;
	}
	.select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}
@layer components {
	.nav-link {
		@apply hover-colors-300 relative cursor-pointer  hover:text-red;
	}
	.burget-btn {
		@apply hover-colors-300 h-[2px] w-[25px] bg-black group-hover:bg-red;
	}
	.nav-item {
		@apply relative px-2 py-5;
	}

	.parallax {
		background-image: url('/assets/minify-images/section-dog.webp'), url('/assets/minify-images/dog-vector.webp'),
			url('/assets/minify-images/dog-right-vector.webp');
		background-attachment: fixed, fixed, fixed;
		background-repeat: no-repeat;
		background-position:
			center,
			calc(50% - 200px) calc(50% + 100px),
			calc(50% + 300px) calc(50% + 75px);
	}
	@media (max-width: 640px) {
		.parallax {
			background-attachment: scroll, scroll, scroll;
		}
	}
}
