@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTMedium.otf) format('opentype');
		font-weight: 400;
	}
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTHeavy.otf) format('opentype');
		font-weight: 700;
	}
	@font-face {
		font-family: Futura PT;
		src: url(/assets/fonts/FuturaPTLight.otf) format('opentype');
		font-weight: 300;
	}
}
@layer utilities {
	.futura-pt {
		font-family: 'Futura PT', sans-serif;
	}
	.wrapper {
		@apply mx-auto w-full max-w-[1536px];
	}
	.hover-colors-300 {
		@apply transition-colors duration-300;
	}
	.shadow {
		box-shadow: 1px 1px 6px rgb(104, 104, 104);
	}
	.product-shadow {
		box-shadow: 1px 1px 10px rgb(173, 173, 173);
	}
	.gradient {
		background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 58.84%, #696969 91.39%, #b1b1b1 116.12%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.custom-underline::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -24px;
		width: 100%;
		height: 1px;
		background-color: #1d1d1d;
		transition: all 0.3s;
		transform: scaleX(0);
		transform-origin: center;
	}
	.custom-underline-hover::after {
		transform: scaleX(1);
	}
}
@layer components {
	.nav-link {
		@apply hover-colors-300 cursor-pointer px-2 py-5 hover:text-red;
	}
	.burget-btn {
		@apply hover-colors-300 h-[2px] w-[25px] bg-black group-hover:bg-red;
	}
}
